* {
  background-color: cornflowerblue;
}

iframe {
  height: 400px;
  width: 800px;
}

img {
  height: 400px;
  width: 800px;
}

a {
  top: 0;
  display: block;
  position: relative;
  font-size: 24px;
}

.weather {
  background-color: white;
}
